h1{
text-align: center;
font-size: 24;
background-color: darkred;
font-family: calibri;

}

 #p1{
	font-size: 16;
	background-color: darkorange;
	font-family: algerian;


}
.p2{

font-size: 16;
background-color: white;


}
#p3{

	font-size: 16;
	background-color: darkgreen;
	font-family: algerian;
}